* {
    font-family: "Inter", serif;
    font-weight: 400;
    box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

html {
    margin: 0;
    width: 100%;
}


body {
    background-image: url(src/bg.png);
    min-height: 100vh;
}

.page-active {
    /*display: inline-block;*/
    position: absolute;
    left: 0;
    right: 0;
    margin: calc(25vh) auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-to-sso {
    background-color: #7AC58F;
    width: 100%;
    height: 100%;
    min-height: 126px;
    color: black;
}

.login-to-sso:hover {
    background-color: #4ECB71;
}

.login-to-cf {
    width: 100%;
    height: 100%;
    min-height: 126px;
}

.wizard {
    text-align: center;
    justify-content: center;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 80%;
    min-height: 50vh;
    block-size: auto;
    writing-mode: horizontal-tb;
    background: #D9D9D9;
}

.panel {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 15px 0;

}

.navigation {
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
    flex-direction: row;
    margin: 15px 0;
}

.left-navigation-part {
    position: relative;
    width: 50%;
    text-align: left;
    margin-left: 30px;
}

.right-navigation-part {
    position: relative;
    width: 50%;
    text-align: right;
    margin-right: 30px;
}

h1 {
    font-size: 4.0vw;
    font-family: "Inter", serif;
    font-weight: 400;
}

.left-part {
    margin: 0 auto;
    width: 40%;
    max-height: 75%;
    min-height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-part {
    margin: 0 auto;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    width: 30%;
    height: 60px;
    font-size: 1.3vw;
    background-color: #4F63CB;
    border-radius: 25px;
    color: white;
    border: transparent;
}

button:hover {
    background-color: #4556AA;
    /*color: white;*/
}

.list-view {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: flex-start;
}

.list-view ul {
    display: block;
    width: 100%;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}

.list-view li {
    position: relative;
    display: flex;
    min-height: 100px;
    min-width: 75%;
    background-color: #717171;
    color: transparent;
    border-radius: 25px;
    padding: 10px;
    text-align: left;
    align-items: center;
}

.list-view li a {
    color: white;
    font-size: 1.5vw;
    text-decoration: none;
    text-align: center;
}

.final-downloads {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.final-downloads li {
    margin-bottom: 10px;
    color: transparent;
}

.final-downloads li a {
    color: white;
    text-decoration: none;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

.distribution-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.distribution-form ul {
    width : 100%;
}

.distribution-form li {
    border: black 1px solid;
    border-radius: 25px;
    color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
}

.distribution-form li p {
    width: 25%;
    font-size: 1.2vw;
    color: black;
    text-decoration: none;
    text-align: center;
}

.distribution-form label {
    width: 25%;
}
.distribution-form li label input {
    border-bottom: 1px solid;
    border-color: black;
    border-left: transparent;
    border-right: transparent;
    border-top: transparent;
    background: transparent;
    text-align: center;
    font-size: 1.2vw;
    width: 100%;
}

.distribution-form li label input:focus {
    outline: none;
}
