* {
    font-family: "Inter", serif;
    font-weight: 400;
    box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

html {
    margin: 0;
    width: 100%;
    height: 100%;
}


body {
    /*background-image: url(src/bg.png);*/
    background: #E8FFDD;
    min-height: 100vh;
}

.page-active {
    /*display: inline-block;*/
    position: absolute;
    left: 0;
    right: 0;
    margin: calc(23vh) auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-to-sso {
    background-color: #7AC58F;
    width: 100%;
    height: 100%;
    min-height: 126px;
    color: black;
}

.login-to-sso:hover {
    background-color: #4ECB71;
}

.login-to-cf {
    width: 100%;
    height: 100%;
    min-height: 126px;
}

.panel {
    /*position: ;*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    align-items: center;
    max-height: 75%;
    min-height: 50%;
    width: 100%;
    margin: 15px 0;

}

.navigation {
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
    flex-direction: row;
    margin: 15px 0;
}

.wizard {
    border-radius: 25px;
    background-color: white;
    box-shadow: 5px 5px 5px darkgray;
    text-align: center;
    justify-content: space-between;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 70%;
    min-height: 50vh;
    block-size: auto;
    writing-mode: horizontal-tb;
}

.left-navigation-part {
    position: relative;
    width: 50%;
    text-align: left;
    margin-left: 30px;
}

.right-navigation-part {
    position: relative;
    width: 50%;
    text-align: right;
    margin-right: 30px;
}

h1 {
    font-size: 4.0vw;
    font-family: "Inter", serif;
    font-weight: 400;
}

.left-part {
    margin: 0 auto;
    width: 40%;
    max-height: 75%;
    min-height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-part {
    margin: 0 auto;
    width: 40%;
    max-height: 75%;
    min-height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    width: 40%;
    /*margin: 10px;*/
    text-align: center;
    padding: 10px;
    height: 100%;
    font-size: 1.3vw;
    font-size-adjust: inherit;
    background-color: #4F63CB;
    border-radius: 25px;
    color: white;
    border: transparent;
}

button:hover {
    background-color: #4556AA;
    /*color: white;*/
}

.list-view {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: flex-start;
}

.list-view ul {
    display: block;
    width: 100%;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}

.list-view li {
    position: relative;
    display: flex;
    min-height: 100px;
    min-width: 75%;
    background-color: #717171;
    color: transparent;
    border-radius: 25px;
    padding: 10px;
    text-align: left;
    align-items: center;
}

.list-view li a {
    color: white;
    font-size: 1.5vw;
    text-decoration: none;
    text-align: center;
}

.final-downloads {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.final-downloads li {
    width: 100%;
    margin-bottom: 10px;
    color: transparent;
}

.final-downloads li a {
    color: white;
    text-decoration: none;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}

.distribution-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.distribution-form ul {
    width: 100%;
}

.distribution-form li {
    border: black 1px solid;
    margin-bottom: 10px;
    border-radius: 25px;
    color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
}

.distribution-form li p {
    width: 25%;
    font-size: 1.2vw;
    color: black;
    text-decoration: none;
    text-align: center;
}

.distribution-form label {
    width: 25%;
}

.distribution-form li label input {
    border-bottom: 1px solid;
    border-color: black;
    border-left: transparent;
    border-right: transparent;
    border-top: transparent;
    background: transparent;
    text-align: center;
    font-size: 1.2vw;
    width: 100%;
}

.distribution-form li label input:focus {
    outline: none;
}

.late-submission-form ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.late-submission-form ul li {
    padding-bottom: 0.5em;
    color: transparent;
}

.late-submission-form ul li h4 {
    color: black;
}

.late-submission-form li label input {
    border-bottom: 1px solid;
    border-color: black;
    border-left: transparent;
    border-right: transparent;
    border-top: transparent;
    background: transparent;
    text-align: center;
    font-size: 1.2vw;
    width: 100%;
}

.late-submission-form li label input:focus {
    outline: none;
}


.input-file {
	position: relative;
	display: inline-block;
}
.input-file span {
	position: relative;
	display: inline-block;
	cursor: pointer;
	outline: none;
	text-decoration: none;
	font-size: 14px;
	vertical-align: middle;
	color: rgb(255 255 255);
	text-align: center;
	border-radius: 4px;
	background-color: #419152;
	line-height: 22px;
	height: 40px;
	padding: 10px 20px;
	box-sizing: border-box;
	border: none;
	margin: 0;
	transition: background-color 0.2s;
}
.input-file input[type=file] {
	position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}

/* Focus */
.input-file input[type=file]:focus + span {
	box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

/* Hover/active */
.input-file:hover span {
	background-color: #59be6e;
}
.input-file:active span {
	background-color: #2E703A;
}

/* Disabled */
.input-file input[type=file]:disabled + span {
	background-color: #eee;
}